\begin{longtable}{ |r|r l| }

  {% for section in sections -%}

  \hline
  \multicolumn{3}{|c|}{\textbf{ {{ section.title }} }} \\
  \hline

  {% for row in section.rows -%}

    {{ row.label }} & {% if row.value %} {{ row.value }} {% else %} $-$ {% endif %} & ${{ row.unit }}$  \\

  {% endfor -%}

  \hline
  {% endfor -%}

\end{longtable}
