@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-red-100 {
    background-color: rgb(254 226 226);
}

.fi-circle {
  width: 24px !important;
  height: 24px !important;
  font-size: 24px !important;
  border-radius: 100%;
  border: none;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, .06);
  background: white;
}

/*
This is an manual extract of
https://github.com/lipis/flag-icons/blob/v6.6.6/css/flag-icons.css
*/

.fib {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.fi {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.33333333em;
  line-height: 1em;
}
.fi:before {
  content: '\00a0';
}
.fi.fis {
  width: 1em;
}
.fi-de {
  background-image: url(/flags/4x3/de.svg);
}
.fi-de.fis {
  background-image: url(/flags/1x1/de.svg);
}
.fi-gb {
  background-image: url(/flags/4x3/gb.svg);
}
.fi-gb.fis {
  background-image: url(/flags/1x1/gb.svg);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.CodeMirror {
    border: 1px solid #aaa;
}

.form-data-edit-button {
  opacity: 0.1;
  transition: opacity 0.3s ease;
}

dd:hover .form-data-edit-button {
  opacity: 1.0;
}
